<div>
    <h3>
        <nav>
          <a [routerLink]="['/dashboard/home']">Home</a> <b>  ||   </b>
          <a [routerLink]="['/dashboard/customer']">Customer Management</a><b>  ||   </b>
          <a [routerLink]="['/dashboard/order']">Order Management</a>  <b>  ||   </b>
          <a [routerLink]="['/dashboard/data']">Data Analytics</a> <b>  ||   </b>
          <a [routerLink]="['/dashboard/contact-us']">Contact Us</a>
          </nav>
        </h3>
        <router-outlet></router-outlet>
</div>