<div> <h3>COMS LOGIN PAGE</h3></div>
<form ngForm>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="model.name" name="name" #name='ngModel'>
    </div>
    
    <div class="form-group">
      <label for="password">password</label>
      <input type="password"  class="form-control" id="password"
             [(ngModel)]="model.password" name="password">
    </div>
    
      <button type="submit" class="btn btn-success" (click)="loginUser()">Login</button>
</form>
    
